
/*--------------------------------------------------------------------------
   Custom styles, Simon Ejdemyr 2016
----------------------------------------------------------------------------*/

h1#intro-header {
    font-size: 50px;
    letter-spacing: 1px;
    padding-bottom: 10px; 
}

.section {
    padding: 20px 0; 
}

.header {
    color: #ddd;
    letter-spacing: -3px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial; 
    font-size: 65px;
    font-weight: 700; 
    text-transform: uppercase;
    margin-bottom: 3px; 
    margin-left: -4px;
    line-height: 70px;
}

@media (max-width: 991px) { 
    h1#intro-header {
	font-size: 45px;
    }
    .section {
	padding: 50px 0 25px 0; 
    }
    .header {
	font-size: 55px;
	line-height: 60px;
    }
}

@media (max-width: 500px) { 
    h1#intro-header {
	font-size: 30px;
    }
    .section {
	padding: 30px 0 20px 0; 
    }
    .header {
	font-size: 45px;
	line-height: 50px; 
    }
}


h1 {
    font-size: 40px;
}

footer {
    padding-top: 100px;   
    bottom: 0; 
}

#basic-info {
    padding: 50px 0 80px 0;  
}

#explore-more > .ion-ios-arrow-down {
    font-size: 30px;
}

#explore-more-text {
    margin-bottom: -15px; 
}

#basic-info > p {
    padding-bottom: 5px; 
}

#choropleth-preview {
    padding-top: 5%;
    padding-bottom: 3%; 
}

#linegraph-preview {
    padding-top: 5%;
}

#linegraph-preview > img {
    width: 95%;
    padding-top: 1%; 
    padding-left: 10px;
}

#choropleth-preview > img {
    padding-left: 15px;
}

#over_map {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial;   
    color: #fff;
    padding-left: 30px;
}

#over_map > p {
    color: #ddd; 
}

@media (min-width: 950px) {
    #over_map {
	padding-top: 40px;
    }
    #over_map > p {
	padding: 15px 10px 0 0; 
    }
    #pac-input {
	margin-top: 10px;
    }
}

@media (min-width: 992px) {
    .col-md-offset-1 {
	margin-left: 4%;  
    }
}

#neighborhood-name {
    margin-top: 30px;
    color: #0099cc;
}

@media (min-width: 991px) { 
    #neighborhood-name {
	margin-top: 50px; 
    }
}

input[type="radio"] {
    cursor: pointer; 
}


.section-explanation {
    font-size: 24px;
}

#linegraph-container {
    min-width: 993px; 
}


/*--------------------------------------------------------------------------
   Styling from google maps API 
   https://developers.google.com/maps/documentation/javascript/examples/places-searchbox 
----------------------------------------------------------------------------*/

#map-display {
    width: 100%;
    margin: 0 auto;

}

#map_container{
    position: relative;
}

#map {
    overflow: hidden;
    padding-bottom: 30%;
    padding: 330px;
    position: relative;
}

.controls {
    margin-top: 5px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
    background-color: #fff;
    color: #777; 
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 340px;
}
#pac-input:focus {
    border-color: #4d90fe;
}
.pac-container {
    font-family: Roboto;
}
#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}
#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
#target {
    width: 345px;
}

@media (max-width: 991px) { 
    #map {
	padding: 270px;
    }
}

@media (max-width: 500px) { 
    #map {
	padding: 200px;
    }
    #pac-input {
	width: 310px; 
    }
}


/*--------------------------------------------------------------------------
   Modals
----------------------------------------------------------------------------*/

.modal-container {
    position: relative;
    overflow: scroll; 
}

.btn-close-modal {
    width:100%;
    text-align: right;  
    cursor:pointer;
    font-size: 25px;
}

.btn-close-modal:hover {
    color: #0099cc;
}